# 匹配所有文件夹下对应名称的文件
**/.DS_Store
**/build/
Python/深度学习入门与实践/picture
Python/深度学习入门与实践/model
Python/深度学习入门与实践/data
**/*.out
Python/Object Detection/yolov3_detection_realtime/yolov3.weights

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/*.a
**/*.so
Demo

# Build results
[Bb]uild
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Python
*.pyc
__pycache__

# Compilation Results
*.axf
*.bin

# ninja build
.ninja_deps
.ninja_log
build.ninja
